<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
		 	<div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Default form</h4>
                  <p class="card-description">
                    Basic form layout
                  </p>
                  <form class="forms-sample" action="bikemodelform" method="post">
                    <div class="form-group">
                      <label for="exampleInputUsername1">Company name</label>
                      <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Company" name="companyName" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Model</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Model" name="modelName" required>
                    </div>
                     <div class="form-group">
                      <label for="exampleInputEmail1">Year</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Model" name="year" required>
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit">Save</button>
                  </form>
                </div>
              </div>
            </div>
         </div>
       </div>
     </div>

</body>
</html>